---
import Base from "../layouts/Base.astro";
---

<Base title="BioData Catalyst">
  <section class="usa-section">
    <div class="grid-container">
      <h1>BioData Catalyst</h1>
      <p class="usa-intro">
        Welcome to the NHLBI BioData Catalyst ecosystem.
      </p>
    </div>
  </section>
</Base>
