$theme-banner-background-color: "primary-lightest";
$theme-banner-font-family: "ui";
$theme-banner-link-color: "white";

$theme-header-font-family: "ui";
$theme-header-logo-text-width: 33%;
$theme-header-min-width: "desktop";

$theme-navigation-font-family: "ui";
$theme-megamenu-columns: 3;

$theme-search-font-family: "ui";
$theme-search-min-width: 14ch;
