$theme-grid-container-max-width: "desktop-lg";
$theme-banner-max-width: "desktop-lg";
$theme-header-max-width: "desktop-lg";
$theme-footer-max-width: "desktop-lg";
$theme-identifier-max-width: "desktop-lg";
$theme-site-alert-max-width: "desktop-lg";
