$theme-table-background-color: "default";
$theme-table-border-color: "base-light";
$theme-table-header-background-color: "base-lighter";
$theme-table-header-text-color: "ink";
$theme-table-stripe-background-color: "base-lightest";
$theme-table-stripe-text-color: "ink";
$theme-table-text-color: "ink";
$theme-table-sorted-header-background-color: "primary-lighter";
$theme-table-sorted-background-color: "primary-lightest";
$theme-table-sorted-stripe-background-color: "primary-lightest";
$theme-table-sorted-icon-color: "base-darkest";
$theme-table-unsorted-icon-color: "base";
$theme-table-sticky-top-offset: 94px;
