# apps/site + apps/docs
node_modules
dist
.astro
**/.env
**/.env.*
test-results
.lycheecache
.lychee-*-report.json
lychee-errors.csv
packages/ui-astro/dev/icon-gallery/dist

# apps/freshdesk
Pipfile
Pipfile.lock

.lycheecache