FRESHDESK_PROXY_URL=
FRESHDESK_DOMAIN=
FRESHDESK_API_KEY=
FRESHDESK_CUSTOM_OBJECT_PUBLICATIONS_SCHEMA_ID=
FRESHDESK_CUSTOM_OBJECT_CONTACT_BDC_SCHEMA_ID=
FRESHDESK_FORM_GET_HELP=
FRESHDESK_FORM_CONTACT_SUPPORT=
PUBLIC_RECAPTCHA_SITE_KEY=
FRESHDESK_FORM_USAGE_COSTS_CLOUD_CREDITS=
PUBLIC_GA_ID=

PUBLIC_CHECK_MY_ACCESS_AUTH_ROOT=
PUBLIC_CHECK_MY_ACCESS_CLIENT_ID=