@use "@bdc/uswds-theme/src/uswds-init" as core;
@use "uswds";

h1, h2, h3, h4, h5, h6 {
  font-family: core.core-font-family('heading');
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h3 {
  font-size: clamp(1.25rem, 2.2vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 1.8vw, 1.5rem);
}
