---
import Icon from '@components/Icon.astro';

interface Props {
  title?: string;
  width?: string;
  float?: 'left' | 'right';
  icon?: string;
}

const { float = 'left', icon } = Astro.props;

const floatClass =
  float === 'left'
    ? 'tablet:float-left tablet:margin-right-2'
    : 'tablet:float-right tablet:margin-left-2';
---

<aside class={`bg-info-lighter padding-205 margin-bottom-1 width-full ${floatClass}`}>
  {icon && <Icon name={icon} size={4} />}
  <div>
    <slot />
  </div>
</aside>
