---
import Button from '@components/Button.astro';
import Icon from '@components/Icon.astro';
---

<aside class="usa-card margin-top-10" >
  <div class="usa-card__container">
    <div class="usa-card__header display-flex flex-align-center">
      <Icon name="mail_outline" size={4} class="margin-right-1" />
      <h2 class="usa-card_heading font-sans-lg text-bold margin-0">Never miss an update</h2>

    </div>
    <div class="usa-card__body">
      <p class="font-sans-sm margin-bottom-2">
        Subscribe to receive monthly BDC updates and other announcements.
      </p>

      <form class="usa-form maxw-full" >
        <div class="display-flex grid-row">
          <div class="usa-form-group margin-0 grid-col">
            <label class="usa-label" for="signup-name">Name</label>
            <input
              class="usa-input"
              id="signup-name"
              name="name"
              type="text"
              autocomplete="name"
            />
          </div>
    
          <div class="usa-form-group margin-0 grid-col margin-left-5">
            <label class="usa-label" for="signup-email">Email</label>
            <input
              class="usa-input"
              id="signup-email"
              name="email"
              type="email"
              autocomplete="email"
              required
            />
          </div>
  
        </div>
        <Button type="submit">Subscribe to Updates</Button>
      </form>
    </div>
  

  </div>
  </div>
</aside>