@use "@bdc/uswds-theme/src/uswds-init" as core;
@use "@bdc/uswds-theme/src/settings" as *;

/* Map USWDS tokens to Starlight CSS custom properties */
:root {
  --sl-color-accent-low: #{core.core-color($theme-color-primary-lightest)};
  --sl-color-accent: #{core.core-color($theme-color-primary)};
  --sl-color-accent-high: #{core.core-color($theme-color-primary-darker)};
  --sl-font-system: #{core.core-font-family('sans')};
  --sl-font-system-mono: #{core.core-font-family('mono')};
}
