  .bdc-tooltip__trigger {
  background: none;
  padding: 0;
  cursor: pointer;
  color: #21568a;
  height: 1em;
  width: 1em;
  margin-left: 0.5em;
}

.bdc-tooltip__trigger:hover {
  background: none;
  color: #01366a;
}
