$theme-color-primary: "blue-60v";
$theme-color-primary-dark: "blue-warm-70v";
$theme-color-primary-darker: "blue-warm-80v";
$theme-color-primary-light: "blue-40v";
$theme-color-primary-lighter: "blue-20v";
$theme-color-primary-lightest: "blue-5v";

$theme-color-secondary: "red-cool-50v";
$theme-color-secondary-dark: "red-cool-60v";
$theme-color-secondary-light: "red-cool-40v";

$theme-color-accent-cool: "cyan-30v";
$theme-color-accent-warm: "orange-30v";

$theme-color-base-lightest: "gray-5";
$theme-color-base-lighter: "gray-cool-10";
$theme-color-base-light: "gray-cool-30";
$theme-color-base: "gray-cool-50";
$theme-color-base-dark: "gray-cool-60";
$theme-color-base-darker: "gray-cool-70";
$theme-color-base-darkest: "gray-90";
$theme-color-base-ink: "gray-90";
