$theme-font-type-sans: "public-sans";
$theme-font-type-serif: "merriweather";
$theme-font-type-mono: "roboto-mono";

$theme-font-role-heading: "serif";
$theme-font-role-body: "sans";
$theme-font-role-ui: "sans";
$theme-font-role-code: "mono";

$theme-body-font-size: "sm";
$theme-h1-font-size: "2xl";
$theme-h2-font-size: "xl";
$theme-h3-font-size: "lg";

$theme-font-weight-light: 300;
$theme-font-weight-normal: 400;
$theme-font-weight-bold: 700;
