@use "settings" as *;
@forward "settings";

@use "uswds-core" as core with (
  $theme-body-font-size: $theme-body-font-size,
  $theme-color-primary: $theme-color-primary,
  $theme-color-primary-dark: $theme-color-primary-dark,
  $theme-color-primary-darker: $theme-color-primary-darker,
  $theme-color-primary-light: $theme-color-primary-light,
  $theme-color-primary-lighter: $theme-color-primary-lighter,
  $theme-color-primary-lightest: $theme-color-primary-lightest,
  $theme-color-secondary-family: $theme-color-secondary-family,
  $theme-color-secondary-lightest: $theme-color-secondary-lightest,
  $theme-color-secondary-lighter: $theme-color-secondary-lighter,
  $theme-color-secondary-light: $theme-color-secondary-light,
  $theme-color-secondary: $theme-color-secondary,
  $theme-color-secondary-vivid: $theme-color-secondary-vivid,
  $theme-color-secondary-dark: $theme-color-secondary-dark,
  $theme-color-secondary-darker: $theme-color-secondary-darker,
  $theme-color-secondary-darkest: $theme-color-secondary-darkest,
  $theme-color-accent-cool-family: $theme-color-accent-cool-family,
  $theme-color-accent-cool-lightest: $theme-color-accent-cool-lightest,
  $theme-color-accent-cool-lighter: $theme-color-accent-cool-lighter,
  $theme-color-accent-cool-light: $theme-color-accent-cool-light,
  $theme-color-accent-cool: $theme-color-accent-cool,
  $theme-color-accent-cool-dark: $theme-color-accent-cool-dark,
  $theme-color-accent-cool-darker: $theme-color-accent-cool-darker,
  $theme-color-accent-cool-darkest: $theme-color-accent-cool-darkest,
  $theme-color-accent-warm-family: $theme-color-accent-warm-family,
  $theme-color-accent-warm-lightest: $theme-color-accent-warm-lightest,
  $theme-color-accent-warm-lighter: $theme-color-accent-warm-lighter,
  $theme-color-accent-warm-light: $theme-color-accent-warm-light,
  $theme-color-accent-warm: $theme-color-accent-warm,
  $theme-color-accent-warm-dark: $theme-color-accent-warm-dark,
  $theme-color-accent-warm-darker: $theme-color-accent-warm-darker,
  $theme-color-accent-warm-darkest: $theme-color-accent-warm-darkest,
  $theme-color-base-lightest: $theme-color-base-lightest,
  $theme-color-base-lighter: $theme-color-base-lighter,
  $theme-color-base-light: $theme-color-base-light,
  $theme-color-base: $theme-color-base,
  $theme-color-base-dark: $theme-color-base-dark,
  $theme-color-base-darker: $theme-color-base-darker,
  $theme-color-base-darkest: $theme-color-base-darkest,
  $theme-color-base-ink: $theme-color-base-ink,
  $theme-font-type-sans: $theme-font-type-sans,
  $theme-font-type-serif: $theme-font-type-serif,
  $theme-font-type-mono: $theme-font-type-mono,
  $theme-font-path: $theme-font-path,
  $theme-font-role-heading: $theme-font-role-heading,
  $theme-font-role-body: $theme-font-role-body,
  $theme-font-role-ui: $theme-font-role-ui,
  $theme-font-role-code: $theme-font-role-code,
  $theme-font-weight-light: $theme-font-weight-light,
  $theme-font-weight-normal: $theme-font-weight-normal,
  $theme-font-weight-bold: $theme-font-weight-bold,
  $theme-global-link-styles: $theme-global-link-styles,
  $theme-h1-font-size: $theme-h1-font-size,
  $theme-h2-font-size: $theme-h2-font-size,
  $theme-h3-font-size: $theme-h3-font-size,
  $theme-banner-background-color: $theme-banner-background-color,
  $theme-banner-font-family: $theme-banner-font-family,
  $theme-banner-link-color: $theme-banner-link-color,
  $theme-banner-max-width: $theme-banner-max-width,
  $theme-header-font-family: $theme-header-font-family,
  $theme-header-logo-text-width: $theme-header-logo-text-width,
  $theme-header-max-width: $theme-header-max-width,
  $theme-header-min-width: $theme-header-min-width,
  $theme-image-path: "/img",
  $theme-in-page-nav-background-color: $theme-in-page-nav-background-color,
  $theme-in-page-nav-background-padding: $theme-in-page-nav-background-padding,
  $theme-in-page-nav-background-radius: $theme-in-page-nav-background-radius,
  $theme-in-page-nav-bar-color: $theme-in-page-nav-bar-color,
  $theme-in-page-nav-bar-width: $theme-in-page-nav-bar-width,
  $theme-in-page-nav-font-family: $theme-in-page-nav-font-family,
  $theme-in-page-nav-link-color: $theme-in-page-nav-link-color,
  $theme-in-page-nav-main-content-max-width: $theme-in-page-nav-main-content-max-width,
  $theme-in-page-nav-margin-left: $theme-in-page-nav-margin-left,
  $theme-in-page-nav-margin-top: $theme-in-page-nav-margin-top,
  $theme-in-page-nav-top: $theme-in-page-nav-top,
  $theme-link-color: $theme-link-color,
  $theme-link-visited-color: $theme-link-visited-color,
  $theme-link-hover-color: $theme-link-hover-color,
  $theme-link-active-color: $theme-link-active-color,
  $theme-link-reverse-color: $theme-link-reverse-color,
  $theme-link-reverse-hover-color: $theme-link-reverse-hover-color,
  $theme-link-reverse-active-color: $theme-link-reverse-active-color,
  $theme-navigation-font-family: $theme-navigation-font-family,
  $theme-megamenu-columns: $theme-megamenu-columns,
  $theme-modal-border-radius: $theme-modal-border-radius,
  $theme-search-font-family: $theme-search-font-family,
  $theme-search-min-width: $theme-search-min-width,
  $theme-show-notifications: false
);

@forward "uswds-core" as core-*;
