@use "settings" as *;

@use "uswds-core" as core with (
  $theme-color-primary: $theme-color-primary,
  $theme-color-primary-dark: $theme-color-primary-dark,
  $theme-color-primary-darker: $theme-color-primary-darker,
  $theme-color-primary-light: $theme-color-primary-light,
  $theme-color-primary-lighter: $theme-color-primary-lighter,
  $theme-color-primary-lightest: $theme-color-primary-lightest,
  $theme-color-secondary: $theme-color-secondary,
  $theme-color-secondary-dark: $theme-color-secondary-dark,
  $theme-color-secondary-light: $theme-color-secondary-light,
  $theme-color-accent-cool: $theme-color-accent-cool,
  $theme-color-accent-warm: $theme-color-accent-warm,
  $theme-color-base-lightest: $theme-color-base-lightest,
  $theme-color-base-lighter: $theme-color-base-lighter,
  $theme-color-base-light: $theme-color-base-light,
  $theme-color-base: $theme-color-base,
  $theme-color-base-dark: $theme-color-base-dark,
  $theme-color-base-darker: $theme-color-base-darker,
  $theme-color-base-darkest: $theme-color-base-darkest,
  $theme-color-base-ink: $theme-color-base-ink,
  $theme-font-type-sans: $theme-font-type-sans,
  $theme-font-type-serif: $theme-font-type-serif,
  $theme-font-type-mono: $theme-font-type-mono,
  $theme-font-role-heading: $theme-font-role-heading,
  $theme-font-role-body: $theme-font-role-body,
  $theme-font-role-ui: $theme-font-role-ui,
  $theme-font-role-code: $theme-font-role-code,
  $theme-body-font-size: $theme-body-font-size,
  $theme-h1-font-size: $theme-h1-font-size,
  $theme-h2-font-size: $theme-h2-font-size,
  $theme-h3-font-size: $theme-h3-font-size,
  $theme-font-weight-light: $theme-font-weight-light,
  $theme-font-weight-normal: $theme-font-weight-normal,
  $theme-font-weight-bold: $theme-font-weight-bold,
  $theme-in-page-nav-background-color: $theme-in-page-nav-background-color,
  $theme-in-page-nav-background-padding: $theme-in-page-nav-background-padding,
  $theme-in-page-nav-background-radius: $theme-in-page-nav-background-radius,
  $theme-in-page-nav-bar-color: $theme-in-page-nav-bar-color,
  $theme-in-page-nav-bar-width: $theme-in-page-nav-bar-width,
  $theme-in-page-nav-font-family: $theme-in-page-nav-font-family,
  $theme-in-page-nav-link-color: $theme-in-page-nav-link-color,
  $theme-in-page-nav-main-content-max-width: $theme-in-page-nav-main-content-max-width,
  $theme-in-page-nav-margin-left: $theme-in-page-nav-margin-left,
  $theme-in-page-nav-margin-top: $theme-in-page-nav-margin-top,
  $theme-in-page-nav-top: $theme-in-page-nav-top,
  $theme-image-path: "/img",
  $theme-show-notifications: false
);

@forward "uswds-core" as core-*;
