---
const { title, date, eventType, tags = [] } = Astro.props;

import TagLink from '@components/link/TagLink.astro';
---

<header class="article__header">

  <span class="usa-tag">
    {eventType}
  </span>

  <h1>{title}</h1>
  <div class="display-flex flex-align-center">
    <time datetime={date.toISOString()} class="meta-text">
      Published on {date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
    </time>
    <span class="margin-x-1 meta-text" >·</span>
    <span class="meta-text">X minutes to read</span>
  </div>

  <div class="display-flex flex-justify flex-align-center border-bottom">
    
    {tags.length > 0 && (
      <div class="tags display-flex padding-0 margin-y-1">
        {tags.map(tag => <TagLink tag={tag} />)}
      </div>
    )}
  </div>
</header>

<style>
  .meta-text {
    color: #666;
  }
</style>
