---
import FileLink from "@components/common/FileLink.astro";
---

<article class="consortium-offboarding maxw-none">
  <h1>Consortium Offboarding</h1>
  <p>We ask teams to periodically review the consortium directory and filter by their "team" or "affiliation/employer" to ensure the information in the directory is accurate and up-to-date.</p>
  <p>If you are leaving the consortium, or are aware of someone who is, please complete the below offboarding form:</p>

  <p class="margin-top-3">
    <strong>Google form</strong><br />
    <FileLink href="https://docs.google.com/forms/d/e/1FAIpQLSeTx-c5ca-TF2b6PPpOYLP_8rJfHhUb9FUKCEnDzZhcK1UlIw/viewform">BDC Offboarding Form</FileLink>
  </p>
</article>

<style>
  .consortium-offboarding {
    max-width: 60rem;
  }
</style>
